$main-color: #19b5fe;

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f0f0f0;
	color: #323232;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 2rem;
}

.login-form {
	width: 100%;
	max-width: 24rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: .2rem;
	box-shadow: 0 .2rem .6rem 0 rgba(0,0,0,.1);
	overflow: hidden;
}

input,
button,
textarea {
	font-size: inherit;
	border-radius: .2rem;
	border: .1rem solid #ddd;
	padding: .5rem;
}

input:focus,
button:focus,
textarea:focus {
	border-color: $main-color;
}

button {
	color: #fff;
	background-color: $main-color;
	border-color: $main-color;
	font-weight: bold;
	&:disabled {
		background-color: #aaa;
		border-color: #aaa;
	}
}

.warning {
	border-radius: .2rem;
	padding: 1rem;
	border: .1rem solid #f45;
}

.heading {
	margin-bottom: 1rem;
}

.field-wrapper {
	margin-top: 1rem;
	label {
		display: block;
		font-size: .8rem;
		margin-bottom: .5rem;
	}
	input {
		width: 100%;
	}
}
