.main-width-limit {
	max-width: 64rem;
	margin: 0 auto;
}

.main-header-wrapper {
	padding: 4rem 1rem;
	color: #fff;
	background-color: #282e3b;
	.main-header-container {
		text-align: center;
		.header-section + .header-section {
			margin-top: 1rem;
			&.button-group {
				margin-top: 2rem;
				button {
					font-weight: normal;
					border: solid .1rem solid #5be7c4;
					background-color: transparent;
				}
			}
		}
		.main-title {
			font-weight: 500;
			font-size: 3.2rem;
			color: #5be7c4;
		}
		.main-subtitle {
			font-size: 1.2rem;
			font-weight: 200;
			color: #eee;
		}
	}
}
