.display--block {
  display: block!important;
}

.display--flex {
  display: flex!important;
}

.width--100percent {
  width: 100%!important;
}

.overflow--hidden {
  overflow: hidden!important;
}

.text-decoration--line-through {
  text-decoration: line-through!important;
}
