.display_block {
	display: block!important;
}

.display_flex {
	display: flex!important;
}

.width_100percent {
	width: 100%!important;
}

.overflow_hidden {
	overflow: hidden!important;
}

.text-decoration_line-through {
	text-decoration: line-through!important;
}
